@charset "UTF-8";
body {
	font-family: "Montserrat", sans-serif;
 	font-size: 15pt;
  	font-weight: small; 
  	font-style: normal;
	color: #381f14;
	background-color: #e5d7c3;
	margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ccb08a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

ul.topnav li {float: left; width: 25%;}

ul.topnav li a {
  display: block;
  color: #381f14;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #bb9e78;}

ul.topnav li a.active {background-color: #b6553f; color: #e5d7c3}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

p {
	line-height: 1.45em;
}


h1 {
    font-family: "Yeseva One", serif;
  	font-size: 45px;
  	font-style: normal;
	color: #482925;
		}

h2 {
	font-family: "Yeseva One", serif;
  	font-size: 35px;
  	font-style: normal;
	color: #814D41;
}

h3 {
	color: #c77234;
	font-family: "Yeseva One", serif;
  	font-style: normal;
	font-size: x-large;
}

h4 {
	font-family: "Yeseva One", serif;
  	font-weight: bolder;
  	font-style: normal;
	color: #482925;
	font-size: 19pt;
}


h5 {
	font-family: "Yeseva One", serif;
  	font-style: normal;
	color: #482925;	
}

h6 {
	font-family: "Yeseva One", serif;
  	font-style: normal;
	color: #482925;
	padding-right: 45%
}

.rightAlign {
	float: right;
	padding-right: 6%;
	padding-bottom: 3%;
}
.leftAlign {
	float:left; 
	padding-right: 6%;
	padding-bottom: 3%;
}
a {
	color:#814D41;
	font-weight: 550;
	text-decoration: none;
}

a:hover {
	color: #b6553f;
	}

footer {
	margin: 0;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #ccb08a;
	color: #381f14;
}
header {
    padding-top: 7%;
    padding-bottom: 2%;
	padding-left: 15%;
	padding-right: 20%;
}

ol {
	line-height: 1.5em;
}

br {
	line-height: 1.3em;
}

.button a {
    background-color: #b6553f;
    color: #e5d7c3;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
	margin-top: 20px;
	text-decoration: none;
	
}

.button a:hover {
	background-color: #ccb08a;
	color: #b6553f;
	text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.twoColumn {
	column-count: 2;
	column-gap: 2%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}



.pullQuote {
	padding-left: 17%;
	padding-right: 17%;
	padding-top: .9%;
	padding-bottom: 1%

}
.threeColumn {
	column-count: 3;
	column-gap: 3.5%;
}

.subheaderPadding {
	padding-left: 7%;
	padding-right: 40%;
}

.bodyPadding {
	padding-left: 14%;
	padding-right: 14%;
}

.listPadding {
	padding-left: 19%;
	padding-right: 20%;
}

.underline {
	text-decoration: underline;
}

.typographyOne {
	margin-left: 13%;
	margin-right: 13%;
	padding-bottom: 5%;
}

.typographyTwo {
	margin-left: 15%;
	margin-right: 15%;
    padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom:4%;
	border-radius: 50px;
	background-color: #ccb08a;
}

.typographyThree {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	
}
.typographyFour {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
}

.typographyFive {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	
}

.typographySix {
	margin-left: 13%;
	margin-right: 13%;;
	padding-top: 3%;
}

.typographySeven {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
}

.typographyEight {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}
 

.listTypography {
	position: relative;
	float: right;
	background-color: #ccb08a;
	margin-left: 18%;
	margin-right: 18%;
	margin-bottom: 3%;
	margin-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom:4%;
	border-radius: 50px;
}

.planingWebTypography {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #482925;
}

.imgcenter {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	padding-top: 3%;
	padding-bottom: 2%;

}

.author {
	padding-right: 5%
}


.dribbleCardBio {
    display: block;
    max-width: 90%;
    color: #381f14;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4;
}

.dribbleCard {
	width: auto;
    margin-right: 20%;
    margin-left: 14%;
    left: auto;
}

.dribbleCardName {
	display: block;
    margin: 8px 0 4px;
    font-size: 20px;
    font-weight: 500;
	text-decoration: underline;
}

.colorOne {
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 3%;
	padding-bottom:3%;
	border-radius: 50px;
	background-color: #ccb08a;
}

.colorTwo {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.colorThree {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.colorFour{
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.colorFive {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.colorSix {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

img[src="img/ColorHeader.png"] {
	padding-top: 8%;
	padding-bottom: 15%;
}


.principlesIntro {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 50px;
	background-color: #ccb08a;
}

.principlesOne {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesTwo {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesThree {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesFour{
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesFive {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesSix {
	margin-left: 15%;
	margin-right: 15%;
	    padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom:4%;
	border-radius: 50px;
	background-color: #ccb08a;
}

.principlesSeven {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesEight {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesNine {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesTen {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesEleven {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesTwelve {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesThirteen {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.principlesListSubheader{
	padding-left: 7%;
	padding-right: 15%;
}

img[src="img/StefanoPeschiera.jpg"] {
	border-radius: 50%;
	margin: 0 3% 0 0;
	float: left;
}

img[src="img/PrinciplesHeader.png"] {
	padding-bottom: 15%;
}

.aboutIntro {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;	
}

.aboutDescription {
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 5%;
}

.aboutBio {
	margin-left: 15%;
	margin-right: 13%;
	padding-top: 3%;
	padding-bottom: 3%;
}


.circleImg {
	border-radius: 10%;
}
