@charset "UTF-8";
body {
	font-family: "Montserrat", sans-serif;
 	font-size: 15pt;
  	font-weight: small; 
  	font-style: normal;
	color: #381f14;
	background-color: #e5d7c3;
	margin: 0;
}

p {
	line-height: 1.45em;
}


h1 {
    font-family: "Yeseva One", serif;
  	font-size: 45px;
  	font-style: normal;
	color: #482925;
		}
h4 {
	font-family: "Yeseva One", serif;
  	font-weight: bolder;
  	font-style: normal;
	color: #482925;
	font-size: 19pt;
}

h2 {
	font-family: "Yeseva One", serif;
  	font-size: 35px;
  	font-style: normal;
	color: #814D41;
}

h3 {
	color: #c77234;
	font-family: "Yeseva One", serif;
  	font-style: normal;
	font-size: x-large;
}

h5 {
	font-family: "Yeseva One", serif;
  	font-style: normal;
	color: #482925;	
}



.rightAlign {
	float: right;
	padding-right: 200px;
}
.leftAlign {
	float:left;
	padding-right: 20px
}
a {
	color:#814D41;
	font-weight: 550;
	text-decoration: underline;
			
		}

a:hover {
	color: #b6553f;
	}

footer {
	margin: 0;
	padding-right: 350px;
	padding-left: 250px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ccb08a;
	color: #381f14;
}
header {
    padding-top: 50px;
    padding-bottom: 50px;
	padding-left: 150px;
	padding-right: 100px;
}

.button a {
    background-color: #b6553f;
    color: #e5d7c3;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
	margin-top: 20px;
	text-decoration: none;
	
}

.button a:hover {
	background-color: #ccb08a;
	color: #b6553f;
	text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.twoColumn {
	column-count: 2;
	column-gap: 40px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 40px;
}

.imgBackground {
}

.pullQuote {
	padding-left: 250px;
	padding-right: 250px;

}
.threeColumn {
	column-count: 3;
	column-gap: 40px;
}

.subheaderPadding {
	padding-left: 150px; 
}

.bodyPadding {
	padding-left: 200px;
	padding-right: 200px;
}

.sectionOneTypography {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 80px;
}

.sectionTwoTypography {
	margin-left: 250px;
	margin-right:250px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom:60px;
	border-radius: 50px;
	color: #e5d7c3;
	background-color: #7d8973;
}

.sectionThreeTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
	
}
.sectionFourTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
}

.sectionFiveTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
	
}

.sectionSixTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
}

.sectionSevenTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
}

.sectionEightTypography {
	margin-right: 100px;
	margin-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}
 

.asideTypography {
	position: relative;
	float: right;
	color: #e5d7c3;
	background-color: #7d8973;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 40px;
	margin-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom:30px;
	border-radius: 50px;
}

.subheaderSpecialTypography {
	padding-left: 150px;
	color: #5e3a1e;
}

.planingWebTypography {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5e3a1e;
}

.imgcenter {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	padding-top: 30px
}

.leftFloat {
	float: left;
	padding-left: 
	
}